<div class="container-fluid px-2 d-flex justify-content-center py-3">
  <div class="row w-100 d-flex justify-content-center">

    <!-- Imagen a la izquierda -->
    <div class="col-12 col-md-6 d-flex justify-content-center align-items-center m-0 p-0">
      <%= image_tag "portada.jpg", class: "img-fluid portada-img m-0 p-0", alt: "Portada" %>
    </div>


    <!-- Columna a la derecha -->
    <div class="col-12 col-md-6 d-flex flex-column justify-content-center align-items-center text-center my-3">


      <div class="d-flex justify-content-center align-items-center text-center border border-info border-2 rounded p-3">
        <h2 class="m-0">
          <strong>
            <span style="white-space: nowrap;">J J V V</span>&nbsp;&nbsp;
            <span style="white-space: nowrap;">B A R R I O</span>&nbsp;&nbsp;
            <span style="white-space: nowrap;">O R I E N T E</span>&nbsp;&nbsp;

          </strong>
        </h2>
      </div>
      <br>

      <div class="d-flex justify-content-center align-items-center text-center border border-info border-2 rounded p-3">
        <h2 class="m-0">
          <strong>
            <span style="white-space: nowrap;">R E G I S T R O</span>&nbsp;&nbsp;
            <span style="white-space: nowrap;">D E</span>&nbsp;&nbsp;
            <span style="white-space: nowrap;">S O C I O S</span>&nbsp;&nbsp;
            <span style="white-space: nowrap;">Y&nbsp;&nbsp;</span>
            <span style="white-space: nowrap;">G E S T I Ó N</span>&nbsp;&nbsp;
            <span style="white-space: nowrap;">F I N A N C I E R A</span>&nbsp;&nbsp;&nbsp;&nbsp;
          </strong>
        </h2>
      </div>
      <br>  
  
    </div>

  </div>
</div>
