<div id="<%= dom_id apartment %>">

  <tr class="table-light">

    <td class="col-1 text-center" scope="row"> <%= link_to apartment.number, apartment, class: "btn btn-primary btn-sm" %> </td>
    <td class="col-8 text-start" scope="row"> <%= apartment.description %> </td>

  </tr>

</div>
