<% content_for :title, "Editing apartment" %>

<% if current_user.admin? %>
    <h1>Editando <%= current_user.type_community.downcase %> </h1>
<% else %>
    <h1>Información del <%= current_user.type_community.downcase %> </h1>
<% end %>

<%= render "form", apartment: @apartment %>

<br> 

